<nav>
    <a href=".">
      <div class="login-left">
        <img src="assets/steg1.jpg">
      </div>
    </a>
    <ul>
      <li><a routerLink="/login-int">Login</a></li>
      <li class="nav-button-container"><button class="nav-button">Déconnexion</button></li>
    </ul>
  </nav><div class="menu">
    <input type="text" placeholder="Rechercher..." class="search-input">
    <button class="search-button">Rechercher</button>
    <button type="button" [routerLink]="'/voir-demande-unitee'">voir les demandes</button>
    <button type="button" routerLink="/archive-dpte">Archive</button>

</div>
