
<div class="forgot-password-container">
  <h2>Réinitialiser le mot de passe</h2>
  <form #form="ngForm" (ngSubmit)="forgotPassword(form.value)">
    <div class="form-group">
      <div class="input-group">

      <input #email="ngModel" ngModel name="email" placeholder="email address" class="form-control"
             type="email" required email>
    </div>
      <span class="help-block" *ngIf="!email.valid && email.touched " style="color: red">
                  veuillez entrer une adresse e-mail valide
                </span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    <span>retour à la page de connexion <a href="/login" style="color:blue">cliquez ici</a></span>
  </form>
  <p *ngIf="message">{{ message }}</p>
</div>
