<app-navbar></app-navbar>

<div class="container">

  <h2>Tous les demandes :</h2>
  <div class="row mt-3">
    <div class="col">
      <input style="width:400px;"
             type="text"
             class="form-control"
             placeholder="Rechercher par cin ou Matricule fiscale"
             [(ngModel)]="searchTerm"
      />
    </div>
  </div>

  <table class="table table-striped table-hover mt-3" id="dataTables-example">
    <thead>
    <tr>
      <th>Matricule Fiscale</th>
      <th>Nom de l'entreprise</th>
      <th>Nom de gérant</th>
      <th>CIN ou Passeport</th>
      <th>Adresse</th>
      <th>Email</th>

      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let demande of filteredUsers() | paginate: { itemsPerPage: 5, currentPage: page }">
      <td>{{ demande.matriculfiscal }}</td>
      <td>{{ demande.nom }}</td>
      <td>{{ demande.gerant }}</td>
      <td>{{ demande.cin }}</td>
      <td>{{ demande.adresse }}</td>
      <td>{{ demande.email }}</td>


      <td>
        <button [routerLink]="[demandes]">Vérification</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

