body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
  }
  
  .nav-buttons {
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .nav-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-button:hover {
    background-color: #2980b9;
  }
  
  /* Ajout d'une animation de rebondissement */
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
  .nav-button:hover {
    animation: bounce 0.6s;
  }
  header {
    background-color: #136cf0;
    color: #fff;
    padding: 15px 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: none;
  }
  /* styles.css */
.small-image {
  width: 7%;
  height: auto;
}

.large-image {
  width: 5px;
  height: auto;
}

 
  

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

  footer { background-color: #b8c9c9;
    color: #302e2e;
    padding: 5px;
    text-align: center;
  }