<app-navbar></app-navbar>
<div class="container mt-4" style="max-width:900px;">
  <h2>Modify User</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control" [disabled]="true">

    </div>

    <div class="form-group">
      <label for="nomEtPrenom">Nom et Prenom</label>
      <input type="text" id="nomEtPrenom" formControlName="nomEtPrenom" class="form-control">
    </div>

    <div class="form-group">
      <label for="matricule">Matricule</label>
      <input type="text" id="matricule" formControlName="matricule" class="form-control" >

    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" >

    </div>

    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" id="adresse" formControlName="adresse" class="form-control" >

    </div>

    <div class="form-group">
      <label for="numero">Numero</label>
      <input type="number" id="numero" formControlName="numero" class="form-control" >

    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" >
      <!--  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
         <div *ngIf="f.password.errors.maxlength">Password must be less than 120 characters</div>
      </div>-->
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
