<app-navbar></app-navbar>
 <body>

  <div>
    <div class="container">

			<section class="site-container">
				<p>Bienvenu à</p>
				<h1>STEG-TUNISIA</h1>
				<div class="row">
					<a routerLink="/contact">Prendre un rendez-vous</a>
					<a href="https://steg.com.tn/fr/index.html">Voir le site officiele </a>
				</div>
			</section>

            <section class="social-icons">
                <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
                <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
                <a href="#"><img src="assets/c:\Users\kacem\OneDrive\Bureau\steg-contact.jpg" alt=""></a>
                <a href="https://drive.google.com/file/d/1u2ZQxyamKsgJ4JxO-kYbytfxaaEkOT_a/view?usp=sharing" target="_blank"><img src="images/drive-fill.png" alt=""></a>
            </section>
          </div>
  </div>
 </body>


