<footer style="    margin-top: 100px;">
  <div class="footer-container">
    <div class="contact-info">
      <p><strong>Contact :</strong></p>
      <p><span class="icon">Téléphone :</span> (+216) 71 330 174</p>
      <p><span class="icon">Email :</span> dpsc@steg.com.tn</p>
      <p><span class="icon">Adresse :</span>38 rue Kamel Ataturk 1080 Tunis</p>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/STEG.Tunis.Ville" target="_blank">
        <img src="assets/fc.png" alt="Facebook">
      </a>
      <a href="https://www.youtube.com/@STEGTunisieTV" target="_blank">
        <img src="assets/1384060.png" alt="YouTube">
      </a>
      <a href="https://www.google.fr/maps/search/STEG/@32.922161,10.387913,12z/data=!3m1!4b1?entry=ttu" target="_blank">
        <img src="assets/maps.png" alt="Google Maps">
      </a>
    </div>
  </div>
</footer>
