<div *ngIf="!resetSuccessful" class="forgot-password-container">
  <h2>Mot de Passe Oublié</h2>
  <form #form="ngForm" (ngSubmit)="resetPassword(form.value)">
    <div class="input-group">
      <input #password="ngModel" ngModel type="password" name="password" id="newPassword" class="form-control"
             placeholder="Nouveau mot de passe:" minlength="8" required>

    </div>
    <span class="help-block" *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red">
        Le champ Nouveau mot de passe est requis et doit contenir au moins 8 caractères.
      </span>
    <div class="input-group">
      <input #password1="ngModel" ngModel type="password" id="confirmPassword" class="form-control"
             name="password1" minlength="8"
             placeholder="Confirmer le nouveau mot de passe:" required>

    </div>
    <span class="help-block" *ngIf="password1.invalid && (password1.dirty || password1.touched)" style="color: red">
        Le champ Confirmer le nouveau mot de passe est requis et doit contenir au moins 8 caractères.
      </span>
    <span class="help-block" *ngIf="password.value !== password1.value && (password1.dirty || password1.touched)" style="color: red">
        Les mots de passe ne correspondent pas.
      </span>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Réinitialiser le mot de passe</button>
  </form>
</div>

<div *ngIf="resetSuccessful">
  <p>Le mot de passe a été réinitialisé avec succès.</p>
</div>
