.forgot-password-container {
  max-width: 400px;
  margin: 94px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 10px;
}

.btn {
  width: 100%;
}

p {
  margin-top: 15px;
  color: green;
}


