<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <h2>Login</h2>
    <form >
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password"  required>
      </div>
      <!-- Utilisez (click) pour déclencher la fonction login() -->
      <button type="button" (click)="login()">Login</button>
    </form>
  </div>
</body>
</html>
<nav>
  <a href=".">
    <div class="login-left">
      <img src="assets/steg1.jpg">
    </div>
  </a>
  <ul>
    <li><a routerLink="/login-int">Login</a></li>
    <li class="nav-button-container"><button class="nav-button">Déconnexion</button></li>
  </ul>
</nav>