.container {
  width: 80%;
  margin: 20px auto;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* Style pour le menu de navigation */
nav {
background-color: #136cf0
;
padding: 10px 20px;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
justify-content: flex-end;
align-items: center;
}

li {
margin-left: 20px;
}

a {
color: white;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.nav-button {
background-color: #f44336;
color: white;
border: none;
padding: 8px 16px;
cursor: pointer;
font-size: 14px;
}

.nav-button:hover {
background-color: #d32f2f;
}

.login-left img {
max-height: 40px;
width: auto;
}


/* Style pour le footer */
footer {
position:relative;
left: 0;
bottom: 0;
width: 100%;
background-color: #136cf0
;
padding: 20px 0;
color: #fff;
text-align: center;
}


.footer-container {
max-width: 1200px;
margin: 100 auto;
display: flex;
justify-content: space-between;
align-items: center;
}

.contact-info,
.social-links {
flex: 1;
}

.contact-info p,
.social-links a {
margin: 20px 0;
color: #fff;
}

.icon {
font-weight: bold;
margin-right: 5px;
}

.social-links img {
width: 40px;
height: 40px;
margin-left: 10px;
}

.social-links img,
.map-link img {
width: 40px;
height: 40px;
margin: 0 50px;
}
